 html {
   font-family: 'Rubik'
 }
/*  ---Header and footer stick to top and bottom---  */
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 #id-link{
   margin-right: 2 em;
 }
 #macroSubmit, #searchInput, .results, #search-results {
   margin-top: 3em;
 }
ul.listNutrients{
   padding: 0 !important;
 }
